.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -10px;
  margin-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
}

.card-item {
  height: 100%;
  list-style: none;
  width: calc(25% - 30px);
  margin: 5px;
}

img {
  display: block;
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.stats {
  display: flex;
  justify-content: center;
  padding: 0;
  border: 1px solid gray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.stats-item {
  display: flex;
  flex-direction: column;
  margin: 0px 13px;
  padding: 5px;
  text-align: center;
  font-size: 10px;
  line-height: 1.56;
}
